#textbox
{
    width: 600px;
    height: 150px;
    margin-left: 50px;

    border: 3px solid blue;
}

.msgs
{
    overflow: auto;

    width: 800px;
    height: auto;
    margin-top: 15px;
    margin-left: 50px;

    border: 3px solid black;
}
.comme
{
    display: block;
    overflow: auto;

    width: 750px;
    height: 70px;
    margin-left: 100px;

    border: 3px solid blue;
}



#msgbox
{
    display: inline-block;

    width: 500px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 50px;

    background-color: yellow;
}
#butt
{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;

    background-color: yellow;
}
#butt2
{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;

    background-color: skyblue;
}
#cmtbox
{
    display: inline-block;

    width: 400px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 200px;

    background-color: skyblue;
}

.btn
{
    margin: 10px;
}
.form-control{
  margin-bottom: : 10px;
}
