<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>user dashboard</title>
    <link rel="shortcut icon" type="image/png" href="http://66.media.tumblr.com/avatar_0a29d7b1f896_128.png"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>*{font-family: 'Montserrat', sans-serif;}
    </style>

</head>

<body>

    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color:#006699;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;"href="/">Kastee</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">


              <p class="navbar-text"><a style="color:white;"href="/users/dash">Admin dashboard</a></p>
              <p class="navbar-text"><a style="color:white;"href="/users/editpage">My Page</a></p>
              <p class="navbar-text"><a style="color:white;"href="/around">Around</a></p>
              <p style="color:white;"class="nav navbar-text navbar-right"><a style="color:white;"href="/users/logout">Log off</a></p>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
      <div class='col-md-3 col-md-offset-9'>
        <a class="btn btn-primary btn-sm" href="/admin/dash" role="button">RETURN TO DASHBOARD</a></div>
            {% if user %}
        <div class="col-md-3 col-md-offset-1">
            <h3>Edit User #{{user.id}} </h3>

            <form action='/admin/edituser' method='post'>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" value="{{user.id}}">

                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" value="{{user.email}}"><br>

                    <label for="">Name</label>
                    <input type="text" class="form-control" name="first" value="{{user.first}}"><br>

                    <label for="">Alias</label>
                    <input type="text" class="form-control" name="last" value="{{user.last}}"><br>

                    <div class="form-group">
                      <label for="level">User Level</label>
                      <select class="form-control" name="level">
                        <option value='1'>Normal</option>
                        <option value ='7'>Admin</option>

                      </select>

                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>
        <div class="col-md-3">
            <h3>Change Password</h3>
            <form action='/admin/pwupdate' method='post'>
                <div class="form-group">
                    <label for="pw">New Password</label>
                    <input type="password" class="form-control" name="pw">
                    <input type="hidden" class="form-control" name="id" value="{{user.id}}">
                    <label for="pw">Confirm New Password</label>
                    <input type="password" class="form-control" name="cpw"><br>
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    </div>

    </div>


    </div>
    <!-- /container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>

</html>
