<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>user dashboard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kickchen</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">


              <p class="navbar-text"><a href="/users/dash">Dashoboard</a></p>
              <p class="navbar-text"><a href="/users/editpage">Profile</a></p>
              <p class="nav navbar-text navbar-right"><a href="/users/logout">Log off</a></p>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h3>Edit Profile</h3>
            <form action='/users/edit' method='post'>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" name="email" value='{{ session['email'] }}'>
                    <label for="pw">First name</label>
                    <input type="text" class="form-control" name="first" value='{{ session['first' ]}}'>
                    <label for="pw">Last name</label>
                    <input type="text" class="form-control" name="last" value='{{ session['last'] }}'>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <h3>Change Password</h3>
            <form action='/users/pw' method='post'>
                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw">
                    <label for="pw">Confirm Password</label>
                    <input type="password" class="form-control" name="cpw">
                    <button type="submit" class="btn btn-default">Update password</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>


    </div>
    <!-- /container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>

</html>
