<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Kastee</title>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<style>

.nav-bar-inverse{color:#006699; background-image:none !important; linear-gradient:0;}
.jumbotron { min-height: 500px; }

</style>
<style>*{font-family: 'Montserrat', sans-serif;}
</style>

  </head>

  <body>

    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color:#006699;">
      <div class="container" style="background-color:#006699;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          </button>

          <a class="navbar-brand" style="color:white;" href="/">Kastee</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">




            {% if session['status']==True %}
            <p style="color:white;" class="navbar-text"><a style="color:white;"href="/users/dash">Home</a></p>
            <p style="color:white;" class="navbar-text"><a style="color:white;"href="/users/editpage">My Page</a></p>
            {% if session['level'] > 5 %}
            <p class="navbar-text"><a style="color:white;" href="/admin/dash">Admin Dashboard</a></p>
            {% endif %}
            <p style="color:white;" class="nav navbar-text navbar-right"><a style="color:white;" href="/users/logout">Log out</a></p>
            <p style="color:white;" class="nav navbar-text navbar-right">You are logged in as {{session['first']}}</p>

            {% endif %}

                  {% if session['status']!= True  %}
            <p class="nav navbar-text navbar-right"><a style="color:white;" href="/users/loginpage">Log In</a></p>

                  {% endif %}

        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin=left:50px; background:url(http://www.landsarch.com/Images/NP9899.jpg)">
      <div class="container" style="margin-left:50px;">
        <br /><br /><br /><br />
        <div style="background-color:#262626; width: 650px; height:260px; padding-left:30px; opacity:1;" class="container pull-left">
        <h2 style="font-size:40px; color:white; background-color:#262626; opacity:1;">Kastee, <br />Embrace Your Neighborhood</h2>
        <p style="color:white; background-color:#262626; opacity:1;">Communications between landlords and neighbors made easy</p>
        <p><a style="opacity:1;" class="btn btn-primary btn-lg" href="/users/registerpage" role="button">Register as Tenant</a>
        <a style="opacity:1;" class="btn btn-primary btn-lg" href="/users/registerpage/manager" role="button">Register as Manager</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Get To Know Your Neighbors</h2>
          <p>Communicate easily with everyone in your community by posting public messages to the community wall, or send private messages to a neighbor. </p>

        </div>
        <div class="col-md-4">
          <h2>Stay Informed</h2>
          <p>Keep up to date with everything that goes on in your neighborhood. Special events, reminders, and even alert messages will be easily available to everyone.</p>

       </div>
        <div class="col-md-4">
          <h2>Easy Management</h2>
          <p>Manage and keep track of all tenant/user information with an easy to use admin interface.</p>

        </div>
      </div>

      <hr>


    </div> <!-- /container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </body>
</html>
