<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Kastee</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-custom navbar-fixed-top" style="background-color:#006699;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;"href="/">Kastee</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">


                <p class="navbar-text"><a style="color:white;"href="/users/loginpage">Home</a></p>

                <p class="nav navbar-text navbar-right"><a style="color:white;"href="/users/loginpage">Sign In</a></p>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <p>{{messages}}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <h3>Register</h3>
            <form action='/users/regimanager' method='post'>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" name="email">
                    <label for="pw">Name</label>
                    <input type="text" class="form-control" name="first">
                    <label for="pw">Apt #</label>
                    <input type="text" class="form-control" name="last">

                    <label>Set a code for your apt</label>
                    <input type="text" class="form-control" name="apt">

                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw">
                    <label for="pw">Confirm Password</label>
                    <input type="password" class="form-control" name="cpw">
                </div>


                <div class="col-md-1 col-md-offset-8">

                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div><br><br>
    <div class="col-md-3 col-md-offset-2">
        <a href="/users/loginpage">Already have an account? Login</a>
    </div>


    </div>
    <!-- /container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>

</html>
